body {
	background-color: #00cc99;
}

#a {
	width: 200px;
	height: 30px;
	margin-left: auto ;
  	margin-right: auto ;
  	margin-top: auto;
  	margin-bottom: auto;
	background-color: #cc33ff;
	font-family: Verdana;
	font-size: 20;
	font-color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

#b {
	background-color:green;
	width: 300px ;
	height: 300px;
  	margin-left: auto ;
  	margin-right: auto ;
  	margin-top: auto;
  	margin-bottom: auto;
  	text-align: center;
  	vertical-align: middle;
  	line-height: 300px;
}

#c {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
  	width: 200px;
  	height: 200px;
  	margin-left: left ;
  	text-align: left;
}

#d {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
  	width: 200px;
  	height: 200px;
  	margin-left: right ;
  	text-align: right;
}

#emilyClicker {
	background-image: url(/Users/lkwong/Downloads/emily.jpg);
	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: auto 100%;
  	/* put the height and width of your image here */
  	height: 100px;
  	width: 50px;
  	border: none;
}

#bettyClicker {
	background-image: url(/Users/lkwong/Downloads/betty.jpg);
	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: auto 100%;
  	/* put the height and width of your image here */
  	height: 100px;
  	width: 50px;
  	border: none;
}

#herbieClicker {
	background-image: url(/Users/lkwong/Downloads/herbie.jpg);
	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: auto 100%;
  	/* put the height and width of your image here */
  	height: 100px;
  	width: 50px;
  	border: none;
}

h3 {
	font-size: 25px;
	font-family: Verdana;
}
#mainClicker {
  background-image: url(/Users/lkwong/Downloads/green-card.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 320px;
  width: 500px;
  border: none;
}

button span {	
  display: none;
}
